*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 500 13px Barlow Semi Condensed;
}

.wrapper{
    width: 100vw;
    min-width: 341px;
    padding:50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(210, 46%, 95%);

}
.box{
    padding:24px;
    margin: 0 35px 15px 35px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container1{
    background-color: hsl(263, 55%, 52%);
    
}
.container2{
    background-color:hsl(217, 19%, 35%);
   
}
.container3{
    background-color:hsl(0, 0%, 100%) ;
}
.container4{
    background-color:hsl(219, 29%, 14%);
}
.container5{
    background-color:hsl(0, 0%, 100%);
    
}

.header{
    height: 50px;
    border: transparent 3px solid;
    margin-bottom: 10px;
}
img{
    float:left;
    height: 45px;
    border:rgb(207, 207, 207) 1px solid;
    border-radius: 50%;
    margin-right: 17px;
}
.name{
    color: hsl(0, 0%, 81%);
 margin-top: 7px;
}
.status{
    color: hsl(0, 0%, 81%);
    font-size: 11px;
    opacity: .5;
}
.about{
    /* margin: 15px 0 20px 0; */
    font:600 20px Barlow Semi Condensed;
    color: hsl(0, 0%, 81%);
    margin-bottom: 10px;
}
.detail{
    opacity: .7;
    color: hsl(0, 0%, 81%);
}

@media only screen and (min-width: 600px) {
   
   .box{
       margin: 0;
   }
   .container1{
       grid-area: dan;
   }
   .container2{
       grid-area: jon;
   }
   .container5{
       grid-area: kir;
   }
   .container3{
       grid-area: jean;
   }
   .container4{
   grid-area: pat;
   }
   .wrapper{
       display: grid;
        height: 100vh;
       width: 100vw;
     grid-template-areas: 'dan dan jon kir' 'jean pat pat kir';
       /* grid-gap: 15px; */
       /* padding: 100px; */
   }
}